@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
    background: #0f0f0f;
}

.cursor-section {
    cursor: url('https://static-00.iconduck.com/assets.00/cursor-icon-1665x2048-wxo7lnt6.png') 12 12, pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.greenGradient {
    background-image: url('./assets/greenBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 4px rgba(0, 255, 102, 0.139);
    /* Green glow */
    border-top: 1px solid rgba(0, 255, 102, 0.254);
    transition: .3s ease-in-out;
}

.purpleGradient {
    background-image: url('./assets/purpleBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 4px #a020f044;
    /* Purple glow */
    border-top: 1px solid rgba(160, 32, 240, 0.289);
}

.defaultGradient:hover,
.greenGradient:hover,
.purpleGradient:hover {
    transform: scale(1.03);
}

/* .greenGradient {
    background: #000000;
    background: linear-gradient(40deg, rgba(0, 0, 0, 1) 2%, #00ab7d 54%, rgba(0, 74, 53, 1) 100%);
}

.purpleGradient {
    background: #000000;
    background: linear-gradient(40deg, rgba(0, 0, 0, 1) 2%, rgba(205, 17, 127, 1) 54%, rgba(94, 0, 55, 1) 100%);
} */

.textBlackGradient {}

.bg-layer {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg-text {
    position: absolute;
    max-width: 500px;
    font-size: 17px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.509);
    filter: blur(3px);
    user-select: none;
    white-space: normal;
    line-height: 1.6;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 60s linear infinite;
}

/* Hide scrollbar for all elements with class 'scrollbar-hide' */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Type animation */
.typewriter h2 {
    color: #fff;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation:
        typing 3s steps(35, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* Slide */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-33.333%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-33.333%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-marquee {
    animation: marquee linear infinite;
}

.animate-marquee-reverse {
    animation: marquee-reverse linear infinite;
}

/* Review cards */
.greenGlow:hover {
    -webkit-box-shadow: 0px 0px 27px -3px #50813c76;
    box-shadow: 0px 0px 27px -3px #50813c79;
}

.purpleGlow:hover {
    -webkit-box-shadow: 0px 0px 20px -3px #9b34ba7a;
    box-shadow: 0px 0px 20px -3px #9b34ba76;
}


/* Some other styles */
.buttonBg:hover {
    background: #fff;
    color: #0f0f0f;
}

/* Canvas Sidebar */
.sidebar {
    width: 80px;
    /* Adjust based on your design */
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-content {
    flex-grow: 1;
    background-color: white;
}

.animated-circles {
    animation: circles 5s infinite;
}

.animated-fade {
    animation: fade-a 5s infinite;
}

@keyframes circles {
    0% {
        transform: scale(1);
        opacity: 0.1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}

@keyframes fade-a {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* Color input styles */
#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 0.1px solid rgb(112, 112, 112);
    border-radius: 50%;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}